#cardTitulo{
    color: rgb(27, 116, 242); 
    background-color: rgb(237, 249, 255);
    margin-top: top; 
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#novaTarefa{   
    font-size: 12px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

