<content>
  <ion-card>
    <ion-card id="cardTitulo">
      <ion-title>Nova Tarefa</ion-title>
      <ion-icon name="close"></ion-icon>
    </ion-card>

    <ion-card id="novaTarefa">
      <ion-card-content>
        <ion-label>Nome da Tarefa</ion-label>
        <ion-input placeholder="Carlos terminar o projeto."></ion-input>
        <ion-label>Descrição da Tarefa</ion-label>
        <ion-input placeholder="ARRUMAR O LAYOUT E COLOCAR P CIMA">
        </ion-input>
        <ion-label>Lembrar as:</ion-label>
        <ion-item>
          <ion-icon name="calendar"> </ion-icon>
          <ion-datetime displayFormat="D MMM YYYY H:mm" min="2019" max="2050" value="2020-10-08T11:06Z"></ion-datetime>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-card>
  <ion-fab id="btSalvar" horizontal="end">
    <ion-fab-button>
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</content>