<ion-card id="cardTitulo">
  <ion-card-content>
  <ion-header>
     <ion-title >Nova tarefa</ion-title>
  </ion-header>
</ion-card-content>
</ion-card>

<content >

<ion-card id="novaTarefa" >
  <ion-card-content>
  <ion-label>Nome da Tarefa</ion-label>
  <ion-input placeholder="Carlos terminar o projeto."></ion-input>
  <ion-label>Descrição da Tarefa</ion-label>
  <ion-input placeholder="ARRUMAR O LAYOUT E COLOCAR P CIMA">
  </ion-input>

    <ion-item>
      <ion-icon name="calendar"> </ion-icon>
      <ion-datetime displayFormat="D MMM YYYY H:mm" min="1997" max="2010" value="2020-10-08T11:06Z"></ion-datetime>
    </ion-item>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-button expand="block">Salvar</ion-button>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
  <ion-label>VOU POR ANUNCIO URUL</ion-label>
  </ion-card-content>
</ion-card>

</content>