#cardTitulo{
    font-size: 16px;
    font-weight: bold;
    color: lightcoral; 
    margin-top: top; 
}

#novaTarefa{   
    font-size: 16px;
    font-weight: bold;
    color: lightblue;
    margin-top: 0%; 
}
