<ion-header>
  <ion-card id="cardTitulo"color="primary">
    <ion-title text-center>
     Aplicativo de Tarefas
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-card>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let tarefa of tarefas">
          <ion-label id="label-tarefa">
            <h2>{{tarefa.nomeTarefa}}</h2>
            <p>{{tarefa.descricaoTarefa}}</p>
            <p>Agendado para: {{tarefa.data}}</p>
          </ion-label>
          <ion-checkbox slot="start" color="primary"></ion-checkbox>
        <button (click)="deletar(tarefa)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>